.instagram-icon {
  top: 10vw;
  left: 32px;
    font-size: 48px;
    color:yellow;
  }

  .youtube-icon {
    font-size: 48px;
    color: #FF0000;
  }

  .discord-icon {
    font-size: 48px;
    color: #FF0000;
  }

  a {
    color: black;
    text-decoration: none;
}

ul {
    margin: 0%;
    list-style-type: none;
    font-family: 'Lato', sans-serif
}

li {
    display: inline-block;
    padding: 1vw 2vw 3vw 2vw;
    font-size: 2vw;
    font-weight: 300;
}